body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

header {
	background: #46aaf8;
	color: #fff;
	padding: 5px 15px;
	margin-bottom: 15px;
}

body.standalone header {
	padding-top: 30px;
}

header img {
	height: 24px;
    margin-top: -4px;
    border-radius: 4px;
}

table th,
table td {
 	width: 50%;
}

.backform label {
	font-weight: normal;
}

a[data-toggle=collapse] {
	display: block;
}